/laskarit/viikko2/viikko2/nbproject/private/
/laskarit/viikko2/viikko2/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Tehtava1/build/
/laskarit/viikko2/Tehtava1/nbproject/private/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/harjoitustyo/Harjoitustyo/target/
/harjoitustyo/Harjoitustyo/nbproject/
/harjoitustyo/Harjoitustyo/ylij‰‰m‰taitoimimattomat/